<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мій власний магазин</title>
    <link rel="stylesheet" href="/style/style.css">
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
</head>
<body>
    <div class="wrapper">
        <!-- <h3>Список товарів для Вашої покупки</h3> -->
        <p>Profile</p>
        <div class="tovar">tovar</div>
        <form action="" method="get">
            <!-- <select name="123"> -->
                <!-- <option value="all">All</option>
                <option value="name">Name</option> -->
            <!-- </select> -->
        </form>
    </div>
    <script src="/javascript/main_profile.js"></script>
</body>
</html>